<!-- app/templates/dashboard.html -->

{% extends "base.html" %}
{% block content %}
<div class="mt-4">
  <div class="container">
    <h1 class="text-center">Rangliste</h1>
    <img id="logo" src="{{ url_for('static', filename='images/ffc_logo-removebg-preview.png') }}" alt="Logo" class="logo">
    
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
        {% for username, total_points in rankings %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ username }}</td>
          <td>{{ "%.0f" | format(total_points) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if current_user.is_authenticated %}
    <div class="container mt-4">
      <h3 class="text-center">Alle Fänge</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fisch</th>
            <th>Gefangen von</th>
            <th>Größe</th>
            <th class="d-none d-md-table-cell">Gefangen am</th>
            <th class="d-none d-md-table-cell">Punkte</th>
          </tr>
        </thead>
        <tbody>
          {% for catch in catches %}
          <tr>
            <td>{{ catch.fish.name }}</td>
            <td>{{ catch.user.username }}</td>
            <td>{{ catch.length }}</td>
            <td class="d-none d-md-table-cell">{{ catch.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            <td class="d-none d-md-table-cell">{{ "%.0f" | format(catch.points) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Show all finished challenges in descending order of expiration_time -->
      <h3 class="text-center mt-4">Abgelaufene Challenges</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Herausforderung</th>
            <th>Teilnehmer</th>
          </tr>
        </thead>
        <tbody>
          {% for challenge in finished_challenges %}
          <tr>
            <td>
              {% if challenge.fish %}
                {{ challenge.goal }} {{ challenge.fish.name }} fangen
              {% else %}
                {{ challenge.goal }} Fische fangen (alle Arten)
              {% endif %}
              <br>
              <small>
                Start: {{ challenge.start_time.strftime('%d.%m.%Y') }},
                Ende: {{ challenge.expiration_time.strftime('%d.%m.%Y') }}
              </small>
            </td>
            <td>
              {% for part in challenge.participations %}
              <div>
                <strong>{{ part.user.username }}</strong>:
                {{ "%.0f"|format(part.awarded_points) }}
                {% if part.success %}
                  (Gewonnen)
                {% else %}
                  (Fehlgeschlagen)
                {% endif %}
              </div>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="text-center">
      <a href="{{ url_for('main.login') }}">Melde dich an</a> oder 
      <a href="{{ url_for('main.register') }}">registriere dich</a>.
    </p>
  {% endif %}
</div>
{% endblock %}
