<!-- app/templates/dashboard.html -->

{% extends "base.html" %}
{% block content %}
<div class="mt-4">
  <div class="container">
      <h1 class="text-center">Rangliste</h1>
      <img id="logo" src="{{ url_for('static', filename='images/ffc_logo-removebg-preview.png') }}" alt="Logo" class="logo">
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Platz</th>
            <th>Name</th>
            <th>Punkte</th>
          </tr>
        </thead>
        <tbody>
          {% for username, total_points in rankings %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ username }}</td>
            <td>{{ "%.0f" | format(total_points) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


        {% if current_user.is_authenticated %}
        <div class="container mt-4">
            <h2 class="text-center">Alle Fänge</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fisch</th>
                  <th>Gefangen von</th>
                  <th>Größe</th>
                  <th>Gefangen am</th>
                  <th>Punkte</th>
                </tr>
              </thead>
              <tbody>
                {% for catch in catches %}
                  <tr>
                    <td>{{ catch.fish.name }}</td>
                    <td>{{ catch.user.username }}</td>
                    <td>{{ catch.length }}</td>
                    <td>{{ catch.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td>{{ "%.0f" | format(catch.points) }}</td>
                 </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="container mt-4">
            <h2 class="text-center">Meine Fänge</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fisch</th>
                  <th>Größe</th>
                  <th>Gefangen am</th>
                  <th>Punkte</th>
                </tr>
              </thead>
              <tbody>
                {% for catch in catches_per_user %}
                  <tr>
                    <td>{{ catch.fish.name }}</td>
                    <td>{{ catch.length }}</td>
                    <td>{{ catch.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td>{{ "%.0f" | format(catch.points) }}</td>
                 </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% else %}
            <p class="text-center">Please <a href="{{ url_for('main.login') }}">login</a> or <a href="{{ url_for('main.register') }}">register</a> to access more features.</p>
        {% endif %}
    </div>
{% endblock %}
