<!-- app/templates/edit_fish.html -->

{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h1 class="text-center">Fisch "{{ fish.name }}" bearbeiten</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      
      <!-- Multiplicator Field -->
      <div class="mb-3">
        {{ form.multiplicator.label(class="form-label") }}
        {{ form.multiplicator(class="form-control", placeholder="Multiplikator") }}
        {% for error in form.multiplicator.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      
      <!-- Above Average Field -->
      <div class="mb-3">
        {{ form.above_average.label(class="form-label") }}
        {{ form.above_average(class="form-control", placeholder="Above Average Länge in cm") }}
        {% for error in form.above_average.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      
      <!-- Monster Field -->
      <div class="mb-3">
        {{ form.monster.label(class="form-label") }}
        {{ form.monster(class="form-control", placeholder="Monster Länge in cm") }}
        {% for error in form.monster.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      
      <!-- Fish Type Field -->
      <div class="mb-3">
        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control", placeholder="Fischtyp") }}
        {% for error in form.type.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      
      <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('main.admin_panel') }}" class="btn btn-secondary">Abbrechen</a>
      </div>
    </form>
  </div>
{% endblock %}
