<!-- app/templates/register.html -->

{% extends "base.html" %}
{% block content %}
    <div class="mt-4 d-flex justify-content-center">
        <div class="w-50">
            <h1 class="text-center">Registrieren</h1>
            <img id="logo" src="{{ url_for('static', filename='images/ffc_logo-removebg-preview.png') }}" alt="Logo" class="logo mx-auto d-block mb-4">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <!-- Invitation Code Field -->
                <div class="form-group text-center">
                    {{ form.invite_code.label(class="form-control-label d-block") }}
                    {% if form.invite_code.errors %}
                        {{ form.invite_code(class="form-control form-control-lg is-invalid mx-auto", style="max-width: 400px;") }}
                        <div class="invalid-feedback">
                            {% for error in form.invite_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.invite_code(class="form-control form-control-lg mx-auto", style="max-width: 400px; text-align: center;") }}
                    {% endif %}
                </div>
                
                <!-- Email Field -->
                <div class="form-group text-center">
                    {{ form.email.label(class="form-control-label d-block") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid mx-auto", style="max-width: 400px;") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg mx-auto", style="max-width: 400px; text-align: center;") }}
                    {% endif %}
                </div>
                
                <!-- Username Field -->
                <div class="form-group text-center">
                    {{ form.username.label(class="form-control-label d-block") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid mx-auto", style="max-width: 400px;") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg mx-auto", style="max-width: 400px; text-align: center;") }}
                    {% endif %}
                </div>
                
                <!-- Password Field -->
                <div class="form-group text-center">
                    {{ form.password.label(class="form-control-label d-block") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid mx-auto", style="max-width: 400px;") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg mx-auto", style="max-width: 400px; text-align: center;") }}
                    {% endif %}
                </div>
                
                <!-- Confirm Password Field -->
                <div class="form-group text-center">
                    {{ form.confirm_password.label(class="form-control-label d-block") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid mx-auto", style="max-width: 400px;") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg mx-auto", style="max-width: 400px; text-align: center;") }}
                    {% endif %}
                </div>
                
                <!-- Submit Button -->
                <div class="text-center mt-4">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
            <p class="mt-3 text-center">Du hast bereits einen Account? <a href="{{ url_for('main.login') }}">Melde dich an!</a></p>
        </div>
    </div>
{% endblock %}
