<!-- app/templates/regeln.html -->

{% extends "base.html" %}
{% block content %}
<div class="mt-4">
    <div class="container">
        <!-- Logo Section -->
        <img id="logo" src="{{ url_for('static', filename='images/ffc_logo-removebg-preview.png') }}" alt="Logo" class="logo mx-auto d-block">
        <h1 class="text-center">Regeln</h1>
        
        <div class="rules-box">
            <ul class="rules-list">
                <li>Es gelten nur die Fische, die in der Übersicht auf dieser Seite abgebildet sind.</li>
                <li>Ist ein Fisch kleiner als die minimale Größe, gibt dieser keine Punkte.</li>
                <li>Ist ein Fisch größer als die minimale Größe und kleiner als die durchschnittliche Größe, so wird die Hälfte der Größe (in cm) als Punkte gutgeschrieben.</li>
                <li>Ist der Fisch größer als die durchschnittliche Größe und kleiner als die Größe für Bonus-Multiplikator, so wird die Größe (in cm) als Punkte gutgeschrieben.</li>
                <li>Ist der Fisch größer als die Größe für den Bonus-Multiplikator, so wird die Größe (in cm) x 1,5 als Punkte gutgeschrieben.</li>
                <li>Tritt der Bonus-Multiplikator bei einem Fang in Kraft, muss ein Bild von diesem Fisch gemacht werden, welches die Größe des Fisches zeigt.</li>
                <li>Ist ein gefangener Fisch selten, so werden die Punkte (nach Berechnung des Bonus-Multiplikators) verdoppelt!</li>
            </ul>
        </div>

        <div class="container mt-4">
            <h2 class="text-center">Zugelassene Fische</h2>
            <div class="row justify-content-center">
                {% for fish in fishes %}
                    <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                        <div class="card text-center w-100">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ fish.name }}</h5>
                                <p class="card-text">
                                    <strong>Minimale Größe:</strong> {{ "%.0f"|format(fish.lower_bound) }} cm<br>
                                    <strong>Durchschnittliche Größe:</strong> {{ "%.0f"|format(fish.avg_length) }} cm<br>
                                    <strong>Maximale Größe:</strong> {{ "%.0f"|format(fish.upper_bound) }} cm
                                </p>
                                <div class="mt-auto">
                                    {% if fish.is_rare %}
                                        <span class="badge bg-warning text-dark">Selten</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Nicht selten</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
