<!-- app/templates/regeln.html -->

{% extends "base.html" %}
{% block content %}
<div class="mt-4">
    <div class="container">
        <!-- Logo Section -->
        <h1 class="text-center">Regeln</h1>
        <img id="logo" src="{{ url_for('static', filename='images/ffc_logo-removebg-preview.png') }}" alt="Logo" class="logo mx-auto d-block">
        
        
        <div class="rules-box">
            <ul class="rules-list">
                <li>Es gelten nur die Fische, die in der Übersicht auf dieser Seite abgebildet sind.</li>
                <li>Wird ein Fisch unterhalb der „Above Average“-Länge gefangen, berechnen sich die Punkte als Fanglänge multipliziert mit dem Multiplikator.</li>
                <li>Wird ein Fisch zwischen der „Above Average“-Länge und der „Monster“-Länge gefangen, berechnen sich die Punkte als Fanglänge multipliziert mit (Multiplikator + 0,2).</li>
                <li>Wird ein Fisch länger als die „Monster“-Länge gefangen, berechnen sich die Punkte als Fanglänge multipliziert mit (Multiplikator + 0,5).</li>
                <li>Bei Fängen, bei denen ein Bonus-Multiplikator (0,2 oder 0,5) zur Anwendung kommt, muss ein Foto des Fangs zur Verifizierung hochgeladen werden.</li>
            </ul>
        </div>

        <div class="container mt-4">
            <h2 class="text-center">Zugelassene Fische</h2>
            <div class="row justify-content-center">
                {% for fish in fishes %}
                    <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                        <div class="card text-center w-100">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ fish.name }}</h5>
                                <p class="card-text">
                                    <strong>Multiplikator:</strong> {{ fish.multiplicator }}<br>
                                    <strong>Above Average Länge:</strong> {{ fish.above_average }} cm<br>
                                    <strong>Monster Länge:</strong> {{ fish.monster }} cm<br>
                                    <strong>Worth:</strong> {{ fish.worth }}
                                </p>
                                <!-- Optionally display additional info if needed -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
